@using Theatre.Models;

<div class="card">
<h2>Actors</h2>
<hr />
@if (Model["actors"].Length == 0)
{
  <p>No actors have been added yet!</p>
}
<ul>
@foreach (Actor actor in Model["actors"])
{
  <li>@Html.ActionLink(@actor.ActorName, "Details", "Actors", new { id = @actor.ActorId})</li>
}
</ul>
</div>

<div class="card">
<h2>Shows</h2>
<hr />
@if (Model["shows"].Length == 0)
{
  <p>No shows have been added yet!</p>
}
<ul>
@foreach (Show show in Model["shows"])
{
  <li>@Html.ActionLink(@show.ShowName, "Details", "Shows", new { id = @show.ShowId})</li>
}
</ul>
</div>

<hr />
<div class="card">
<h2>Genres</h2>
<hr />
@if(Model["genres"].Length == 0)
{
  <p>No genres have been added yet</p>
}
<ul>
  @foreach (Genre genre in Model["genres"])
  {
    <li>@Html.ActionLink(@genre.GenreName, "Details", "Genres", new { id = @genre.GenreId })</li>
  }
</ul>
</div>
<hr />

<button>@Html.ActionLink("Actor List", "Index", "Actors")</button>
<button>@Html.ActionLink("Show List", "Index", "Shows")</button>
<button>@Html.ActionLink("Genre List", "Index", "Genr es")</button>