@{
  Layout = "_Layout";
}

@model Theatre.Models.Show
@using Theatre.Models;
@using System.Collections.Generic;


<h2>Show Details</h2>

<h3>Show Name : @Model.ShowName</h3>

@if (@Model.ActorShowJoinEntities.Count == 0)
{
  <p>This show does not have any actors.</p>
}
else 
{
  <h4>This Shows's cast:</h4>
  <ul>
  @foreach (ActorShow join in Model.ActorShowJoinEntities)
  {
    <li>@join.Actor.ActorName</li>
  }
  </ul>
}

<button>@Html.ActionLink("Edit Show", "Edit", new { id = Model.ShowId})</button>
<br />
<br />
<button>@Html.ActionLink("Delete Show", "Delete", new { id = Model.ShowId}) </button>
<br />
<br />
<button>@Html.ActionLink("Back to list", "Index")</button>